{% extends 'base_front.html.twig' %}


{% block body %}
    <section class="global-container">
        <h2 style="font-family: 'Prompt';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #5D738D;
        width: max-content;height: max-content;">{{content.title}}</h2>
        <p></p>
        <p style="height: max-content;">{{content.content|raw}}</p>
    </section>
{% endblock %}
