<form id="form-chat-user" method="post">
    <div>
        <input type="text" id="input-message" placeholder="Votre message">
    </div>
    <div>
        <input type="submit" id="submit">
    </div>
</form>

