<form id="form-chat-user" method="post" style="display: flex">
    <div style="width: 70%">
        <input type="text" id="input-message" class="form-control" placeholder="Votre message" style="padding: 22px">
    </div>
    <div style="width: 30%">
        <input type="submit" id="submit" class="btn btn-lg btn-primary" style="width: 100%">
    </div>
</form>

