{% extends 'base_front.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="title_container">
                
            </div>
        </div>
    </div>
    
{% endblock %}
