button {
    border: none;
    background-color: transparent;
    outline: none;
}

h3 {
    margin: 0;
    padding: 0;
    border: none;
    font-size: inherit;
    font-weight: normal;
    text-align: left;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}