button {
    border: none;
    background-color: transparent;
    outline: none;
}

h3 {
    margin: 0;
    padding: 0;
    border: none;
    font-size: inherit;
    font-weight: normal;
    text-align: left;
    color: inherit;
}