<!DOCTYPE html>

<title>Edit Tag</title>

{% block body %}
    <h1>Edit Tag</h1>

    {{ include('back/tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_app_tag_index') }}">back to list</a>

    {{ include('back/tag/_delete_form.html.twig') }}
{% endblock %}
