.panel {
    height: max-content !important;

    & header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & .filter {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 40px;

            & p {
                font-family: 'Prompt';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                text-decoration-line: underline;
                color: #E5786C;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            & .logo-container {
                background-color: #E5786C;
                border-radius: 50px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }

        & ul {
            display: flex;
            flex-direction: row;
            font-family: 'Prompt';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #5D738D;
            gap: 80px;

            & li {
                cursor: pointer;
            }
        }
    }

    & .content-card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
}

@media screen and (max-width: 1210px) {
    .content-card-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        & .content-card {
            width: 70%;
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        & ul {
            gap: 15px !important;
        }
    }
    .content-card-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        & .content-card {
            width: 90%;
            height: 200px;
        }
    }
}

@media screen and (max-width: 615px) {


    header {
        & ul {
            flex-direction: column !important;
        }
    }

}

@media screen and (max-width: 480px) {


        .content-card {
            width: 95% !important;
            height: 150px !important;
            
            & h2  {
                font-size: 18px !important;
                line-height: 27px !important;
            }
        }

        .left {
            padding: 14px !important;
        }
    
}